html {
    font-family: 'Outfit', sans-serif;
    background-color: #f2f2f4;
    color: black;
}

body {
    margin: 0;
}

header {
    background-color: #1f2937;
    color: #f2f2f4;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

main {
    padding-left: 1em;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #f2f2f4;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

a {
    color: #4f46e5;
}

ul {
    display: flex;
}

li {
    padding-right: 1em;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    list-style: none;
}

li:hover{
    background-color: #374151;
    border-radius: .3em;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.logo {
    display: flex;
    align-items: center;
    flex-basis: 38%
}

.logo-text {
    padding-left: 0.5em;
    font-size: large;
}

form {
    width: 100px;
}

.action-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #4f46e5;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #f2f2f4;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 11px 18px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.action-button:hover {
    background-color: #4e46e5dc;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    color: #f2f2f4;
}

.footer {
    position: fixed;
    padding: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f4;
}

.projects-table {
    border-collapse: collapse;
    /* box-shadow: 5px 5px 5px #1f2937; */
    width: 40%;
}

.projects-table td {
    border: 1px solid #f2f2f4;
    padding: 8px;
}

.projects-table tr:nth-child(even) {
    background-color: #fafbfd;
}

.projects-table tr:nth-child(even):hover {
    background-color: #f2f2f4;
}

.projects-table tr:hover {
    background-color: #fafbfd;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    color: black;
}

.projects-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-weight: 400;
    background-color: #1f2937;
    color: #f2f2f4;
    padding: 8px;
}
