{% extends 'base.html' %} {% block title %} Login - Trackr {% endblock title %}
{% block content %}

<style>
  .logo {
    flex-basis: 92%;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -2em;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
</style>
<main>
  <h1>Login</h1>
  <div>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class="action-button">Login</button>
    </form>
  </div>
</main>

{% endblock content %}
