{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
    </style>
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{% url 'list_projects'%}">
          <svg
            width="48"
            height="48"
            viewBox="0 0 24 24"
            fill="#6366f1"
            xmlns="http://www.w3.org/2000/svg"
            data-reactroot=""
          >
            <path
              fill="#6366f1"
              d="M1.14266 11.4855C1.42681 11.0119 2.04107 10.8584 2.51465 11.1425L12.0002 16.8338L21.4857 11.1425C21.9592 10.8584 22.5735 11.0119 22.8576 11.4855C23.1418 11.9591 22.9882 12.5733 22.5146 12.8575L12.5146 18.8575C12.198 19.0475 11.8023 19.0475 11.4857 18.8575L1.48566 12.8575C1.01208 12.5733 0.85851 11.9591 1.14266 11.4855Z"
              clip-rule="evenodd"
              fill-rule="evenodd"
              undefined="1"
            ></path>
            <path
              fill="#6366f1"
              d="M1.14266 15.4855C1.42681 15.0119 2.04107 14.8584 2.51465 15.1425L12.0002 20.8338L21.4857 15.1425C21.9592 14.8584 22.5735 15.0119 22.8576 15.4855C23.1418 15.9591 22.9882 16.5733 22.5146 16.8575L12.5146 22.8575C12.198 23.0475 11.8023 23.0475 11.4857 22.8575L1.48566 16.8575C1.01208 16.5733 0.85851 15.9591 1.14266 15.4855Z"
              clip-rule="evenodd"
              fill-rule="evenodd"
              undefined="1"
            ></path>
            <path
              fill="none"
              d="M22 8L12 14L2 8L12 2L22 8Z"
              undefined="1"
            ></path>
            <path
              fill="#6366f1"
              d="M11.4855 1.14251C11.8022 0.952498 12.1978 0.952498 12.5145 1.14251L22.5145 7.14251C22.8157 7.32323 23 7.64874 23 8C23 8.35126 22.8157 8.67677 22.5145 8.85749L12.5145 14.8575C12.1978 15.0475 11.8022 15.0475 11.4855 14.8575L1.4855 8.85749C1.1843 8.67677 1 8.35126 1 8C1 7.64874 1.1843 7.32323 1.4855 7.14251L11.4855 1.14251ZM3.94365 8L12 12.8338L20.0563 8L12 3.16619L3.94365 8Z"
              clip-rule="evenodd"
              fill-rule="evenodd"
              undefined="1"
            ></path>
          </svg>
        </a>
        <p class="logo-text">trakr</p>
      </div>
      <nav>
        {% if user.is_authenticated %}
        <ul>
          <li><a href="{% url 'show_my_tasks'%}">My Tasks</a></li>
          <li><a href="{% url 'list_projects'%}">My Projects</a></li>
          <li><a href="{% url 'logout'%}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login'%}">Login</a></li>
          <li><a href="{% url 'signup'%}">Signup</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock content %}
    <div class="footer">
      <footer>Copyright &copy; 2023 - trackr</footer>
    </div>
  </body>
</html>
