{% extends 'base.html' %} {% block title %} Create Project {% endblock title %}
{%block content %}

<main>
  <h1>Create a new task</h1>
  <div>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class="action-button">Create</button>
    </form>
  </div>
</main>

{% endblock content %}
